#title {
    font-size: 400%;
    width: 60vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

 #head1{
  text-align: center;
 } 

#image {
    max-width: 50%;
    height: 500px;
    display: block;
  }

#main{
    background-color: rgb(122, 250, 233);
    color:black;
   
  }
#tribute-info {
    color: black;
    margin: bottom 1px;
    padding-bottom: 20px;
    text-align: center;

}  
#heading2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(213, 21, 21);
}
#about{
    color: black;
}